# Dependency directories
node_modules/
npm-debug.log
yarn-error.log

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Environment variables file
.env

# macOS
.DS_Store

# Windows
Thumbs.db

# Visual Studio Code workspace settings
.vscode/

# IDE files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
